@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
@import 'antd/dist/antd.css';
body{
  background-color: antiquewhite;
}
.App {
  text-align: center;
  
}

#card{
  margin: auto;
  width: 410px;
  border: 1px solid;
  height: 523px;
}
.input_class{
  height: 37px;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  width: 100%;
  margin: 12px 0px;

}
#searchBtn{
  height: 37px;
  border: 1px solid;
  width: 54%;
  border-radius: 2px;
  font-size: 18px;
  background: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
